/* For Chrome and Edge */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

/* For Internet Explorer and Edge */
input[type="password"]::-ms-reveal {
  display: none;
}

/* Optional fallback (makes password fields behave like plain ones) */
input[type="password"] {
  -webkit-text-security: disc; /* Safari */
}

/* Ensure autofilled inputs maintain the visibility of labels */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.autofilled legend {
  opacity: 1 !important;
  visibility: visible !important;
  display: inline-block !important;
}